.App{
    width: 100%;
    /* background-image: linear-gradient(to bottom right, #0d0d0e, #100f19, #121122, #12132c, #131435, #131335, #121335, #121235, #110f2c, #100a23, #0b061a, #040110); */

  background: #04123C;
  background: -webkit-linear-gradient(top, #04123C, #010101); 
  background: -moz-linear-gradient(top, #04123C, #010101);
  background: linear-gradient(to bottom, #04123C, #010101);
  


/*    
   background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */

    /* background-color: rgb(25, 25, 25); */
} 
